@use 'colorsVar';

body {
  color: colorsVar.$font-color;
  font-family: 'poppinsregular', sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

ul.nav-list {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
  padding: 0;

  li.nav-item {
    list-style-type: none;

    .nav-link {
      text-decoration: none;
      font-weight: 700;
      color: colorsVar.$text-field-color;
    }
  }
}

.sign-list {
  display: flex;
  flex-direction: column;

  ul.sign-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li.sign-nav-item {
    list-style-type: none;

    .sign-nav-link {
      text-decoration: none;
      font-weight: 700;
      color: colorsVar.$text-field-color;
    }

  }

  .sign-nav-cart {
    cursor: pointer;
  }

}

li.sign-nav-item:nth-child(2) {
  margin-left: 0.75rem;
}

#cart {
  background-color: colorsVar.$background-color;
  height: 4rem;
  display: none;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1240px) {
    display: flex;
  }
}

#dropdowncart {
  background-color: colorsVar.$background-color;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1240px) {
    display: none
  }
}

@media screen and (max-width: 535px) {

  ul.nav-list,
  .sign-list {
    display: none;
  }
}