@use 'colorsVar';

.product {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 60px_200px_100px_40px;
  gap: 2rem;
  flex: 1;
  padding: 0 1rem;

  @media screen and (max-width: 740px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (max-width: 560px) {
    grid-template-rows: 60px_300px_100px_50px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (max-width: 375px) {
    grid-template-rows: 60px_200px_100px_0px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.product_card {
  border-bottom: 1px dotted rgb(209, 213, 219);
  padding-bottom: 1rem;

  &__name {
    grid-column: span 2 / span 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;

    @media screen and (max-width: 740px) {
      white-space: pre-wrap;
      overflow: visible;
      text-overflow: unset;
    }
  }

  &__img {
    width: -webkit-fill-available;
    grid-row: span 3 / span 3;

    @media screen and (max-width: 740px) {
      grid-row: span 2 / span 2;
    }

    @media screen and (max-width: 375px) {
      grid-row: span 1 / span 1;
      grid-column: span 2 / span 2;
      height: 150px;
      width: 150px;
    }
  }

  &__desc {
    padding: 0.5rem;
    background-color: rgb(209 213 219);

    @media screen and (min-width: 640px) {
      grid-column: span 2 / span 2;
    }
  }

  &__desc-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;

    @media screen and (max-width: 375px) {
      -webkit-line-clamp: unset;
      overflow: visible;
      font-size: 0.75rem;
    }

  }

  &__price {
    display: none;
    margin: 0.25rem;

    @media screen and (min-width: 740px) {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      align-items: center;
    }
  }

  &__btn {
    background-color: colorsVar.$btn-background-color;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 12px;

    @media screen and (max-width: 740px) {
      display: none;
    }
  }

  &__sm-btn {
    background-color: colorsVar.$btn-background-color;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;

    @media screen and (min-width: 740px) {
      grid-column: span 2 / span 2;
      display: none;
    }
  }

  &__small_card {
    @media screen and (max-width: 375px) {
      display: flex;
    }
  }

  &__desc_btn {
    @media screen and (max-width: 375px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.categoryType {
  // padding: 2.5rem;
  background-color: colorsVar.$background-color;
  color: white;

  &__accordian {
    display: none;
    margin: 1rem 0 0 0;
    background-color: colorsVar.$btn-background-color;
    padding: 1rem;

    @media screen and (max-width: 740px) {
      display: block;
    }
  }


  &__ul {
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-color: rgb(226 232 240);
    display: block;
    margin: 0;
    padding: 1rem 0 0 0;
    color: black;
    list-style: none;

    @media screen and (max-width: 740px) {
      display: none;
    }
  }

  &__ul_active {
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-color: rgb(226 232 240);
    display: block;
    margin: 0;
    padding: 1rem 0 0 0;
    color: black;
    list-style: none;

    @media screen and (max-width: 740px) {
      display: block;
      background-color: #c91e50;
      color: white;
    }
  }

  &__li {
    padding: 0.25rem 1.25rem;
    font-size: 1rem;
    line-height: 1.75rem;
    cursor: pointer;

    @media screen and (max-width: 1024px) {
      font-size: 0.825rem;
      line-height: 1.25rem;
      padding: 0.125rem;
    }
  }

  &__li-active {
    padding: 0.25rem 1.25rem;
    font-size: 1rem;
    line-height: 1.75rem;
    cursor: pointer;
    background-color: colorsVar.$btn-background-color;
    color: white;

    @media screen and (max-width: 1024px) {
      font-size: 1rem;
      line-height: 1.25rem;
      padding: 0.125rem;
    }
  }

  &__li:hover {
    background-color: colorsVar.$btn-background-color;
    color: white;
  }
}

.productPage {
  display: flex;
  padding: 0 0 1rem 0;

  @media screen and (max-width: 740px) {
    display: block;
  }
}

.NoProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}