@use 'colorsVar';


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  margin-top: 1rem;
}

.swiper__item {
  display: none;
}

.swiper__item_active {
  flex-shrink: 0;
  scroll-snap-align: center;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 8px -4px rgb(0 0 0 / 10%), 0 6px 7px -4px rgb(0 0 0 / 10%);
  height: 250px;

  @media only screen and (max-width: 740px) {
    box-shadow: none;
    height: 150px;
  }
}

.swiper__img {
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.4;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 1rem 0.75rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot_container {
  text-align: center;
  position: relative;
  margin-top: -54px;
}

.dot_active {
  background-color: #313131;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 1rem 0.75rem;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

@media only screen and (max-width: 740px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}