@use "colorsVar";

.cartItem {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0.5rem;

    &__img {
        width: 100px;
    }

    &__desc {
        padding-left: 2rem;
    }

    &__name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__btn {
        background-color: colorsVar.$btn-background-color;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        border: none;
        font-weight: bold;
    }

    &__quantity {
        margin: 0 1rem;
    }

    &__remove {
        margin: 0 1rem;
    }

    &__price {
        margin: 0 1rem;
    }

    &__total {
        margin: 0 1rem;
    }


}

.cartFooter {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 1rem 1rem;
}