@use "colorsVar";

.cartItem {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0.5rem;

    &__img {
        height: 90px;
        width: 90px;
    }

    &__details {
        padding-left: 2rem;
        width: 100%;
    }

    &__desc {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        margin: 1rem 0;

        @media screen and (max-width:500px) {
            margin: 0.725rem 0;
            font-size: medium;
        }
    }

    &__btn {
        background-color: colorsVar.$btn-background-color;
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        border: none;
        font-size: larger;
        color: white;
        padding: 2px;

        @media screen and (max-width:500px) {
            height: 1rem;
            width: 1rem;
            font-size: small;
            padding: 0;
            position: relative;
        }
    }

    &__quantity {
        margin: 0 0.5rem;
    }

    &__remove {
        margin: 0 0.5rem;
    }

    &__total {
        margin: 0 1rem;
    }


}

.lowestPriceBanner {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0.5rem;
}